body {
    background: black;
    font-family: 'Varela', sans-serif;
}
  
.glitch {
    color: white;
    font-size: 50px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
  
@keyframes noise-anim {
    0% {
      clip: rect(33px, 9999px, 21.5px, 0);
    }
    5% {
      clip: rect(1.5px, 9999px, 5.5px, 0);
    }
    10% {
      clip: rect(32px, 9999px, 38px, 0);
    }
    15% {
      clip: rect(28.5px, 9999px, 6px, 0);
    }
    20% {
      clip: rect(44px, 9999px, 45.5px, 0);
    }
    25% {
      clip: rect(1px, 9999px, 48px, 0);
    }
    30% {
      clip: rect(21px, 9999px, 3.5px, 0);
    }
    35% {
      clip: rect(28px, 9999px, 7px, 0);
    }
    40% {
      clip: rect(1px, 9999px, 20.5px, 0);
    }
    45% {
      clip: rect(15px, 9999px, 17.5px, 0);
    }
    50% {
      clip: rect(34.5px, 9999px, 42.5px, 0);
    }
    55% {
      clip: rect(43px, 9999px, 37.5px, 0);
    }
    60% {
      clip: rect(38.5px, 9999px, 20px, 0);
    }
    65% {
      clip: rect(33px, 9999px, 10.5px, 0);
    }
    70% {
      clip: rect(20.5px, 9999px, 20.5px, 0);
    }
    75% {
      clip: rect(48px, 9999px, 24.5px, 0);
    }
    80% {
      clip: rect(47.5px, 9999px, 33px, 0);
    }
    85% {
      clip: rect(23px, 9999px, 43px, 0);
    }
    90% {
      clip: rect(48.5px, 9999px, 17px, 0);
    }
    95% {
      clip: rect(4px, 9999px, 45.5px, 0);
    }
    100% {
      clip: rect(50px, 9999px, 6.5px, 0);
    }
}
  
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}
  
@keyframes noise-anim-2 {
    0% {
      clip: rect(44px, 9999px, 22px, 0);
    }
    5% {
      clip: rect(2.5px, 9999px, 23px, 0);
    }
    10% {
      clip: rect(44px, 9999px, 22px, 0);
    }
    15% {
      clip: rect(39px, 9999px, 100px, 0);
    }
    20% {
      clip: rect(5px, 9999px, 70px, 0);
    }
    25% {
      clip: rect(19.5px, 9999px, 79px, 0);
    }
    30% {
      clip: rect(2px, 9999px, 70px, 0);
    }
    35% {
      clip: rect(1.5px, 9999px, 39px, 0);
    }
    40% {
      clip: rect(12.5px, 9999px, 38px, 0);
    }
    45% {
      clip: rect(43px, 9999px, 91px, 0);
    }
    50% {
      clip: rect(7.5px, 9999px, 26px, 0);
    }
    55% {
      clip: rect(14.5px, 9999px, 42px, 0);
    }
    60% {
      clip: rect(20.5px, 9999px, 80px, 0);
    }
    65% {
      clip: rect(2px, 9999px, 87px, 0);
    }
    70% {
      clip: rect(36px, 9999px, 67px, 0);
    }
    75% {
      clip: rect(34px, 9999px, 75px, 0);
    }
    80% {
      clip: rect(45px, 9999px, 90px, 0);
    }
    85% {
      clip: rect(49.5px, 9999px, 54px, 0);
    }
    90% {
      clip: rect(28.5px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(44.5px, 9999px, 37px, 0);
    }
    100% {
      clip: rect(48px, 9999px, 42px, 0);
    }
}
  
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    background: url(http://www.wallpapermade.com/images/wallpapers/originals/golden-state-bridge-in-the-evening-wallpaper-1694.jpg), #000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    color: #fff;
    font-size: 3em;
}
  
p {
    color: #fff;
}
  
section {
    width: 100%;
    height: 100vh;
    background: url(), #ddd;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
footer {
    width: 100%;
    height: 100vh;
    background: url(), #47a;
    background-attachment: fixed;
    background-size: cover;
}
  
.btnf {
    right: 25px;
    bottom: 25px;
    position: fixed;
    z-index: 90;
    color: white;
    font-size: 2em;
    cursor: pointer;
}
  
.nav-wrapper {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
  
.izq {
    margin: 10px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}
  
ul li {
    display: inline-block;
    padding: 8px;
}
  
ul li:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}
  
.der {
    margin: 10px;
    padding: 10px;
}

/*
.bannerp {
    background: url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background: url(https://images.pexels.com/photos/239898/pexels-photo-239898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background: url(https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background: url(https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background: url(https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background: url(https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?cs=srgb&dl=background-code-coder-177598.jpg&fm=jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

h2 {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 15px;
}
  
p.parr {
    padding: 25px;
    margin-top: 0;
    color: #888;
}
  /*
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
h2 {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 15px;
}
  
p.parr {
    padding: 25px;
    margin-top: 0;
    color: #888;
}
  /*
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
h2 {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 15px;
}
  
p.parr {
    padding: 25px;
    margin-top: 0;
    color: #888;
}
  
#git {
    color: rgba(255, 255, 255, 1);
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.name {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.name::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.name:hover::after {
    width: 250%;
    transition: width .3s;
}

/*-----------------------TECH--------------------------*/

  
#particles-js {
  width: 100%;
  height: 100%; 
}
.hero-content {
  position: absolute;
  top: 140%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .hero-content h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px; }
  .hero-content h2 {
    font-size: 30px;
    color: #bfbfbf; }
  .hero-content .download {
    color: #bfbfbf;
    background: none;
    border: 1px #E52E2D solid;
    border-radius: 1000px;
    padding: 10px;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    cursor: pointer; }

.hero-content #avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px #E52E2D solid; }
  @media screen and (max-width: 768px) {
    .hero-content img {
      width: 200px;
      height: 200px; } }

/* -----------------------CIRCLE-------------------------- */
.circle-container {
  position: relative;
  /* 1 */
  width: 20em;
  height: 20em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  /*box-sizing: content-box;
  /* 3 */
  /*margin: 50% auto 0;*/
}
.circle-container > * {
  /* 4 */
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  margin: -3em;
}
.circle-container > :nth-of-type(1) {
  transform: rotate(0deg) translate(10em) rotate(0deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(18deg) translate(10em) rotate(-18deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(36deg) translate(10em) rotate(-36deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(54deg) translate(10em) rotate(-54deg);
}
.circle-container > :nth-of-type(5) {
  transform: rotate(72deg) translate(10em) rotate(-72deg);
}
.circle-container > :nth-of-type(6) {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
}
.circle-container > :nth-of-type(7) {
  transform: rotate(108deg) translate(10em) rotate(-108deg);
}
.circle-container > :nth-of-type(8) {
  transform: rotate(126deg) translate(10em) rotate(-126deg);
}
.circle-container > :nth-of-type(9) {
  transform: rotate(144deg) translate(10em) rotate(-144deg);
}
.circle-container > :nth-of-type(10) {
  transform: rotate(162deg) translate(10em) rotate(-162deg);
}
.circle-container > :nth-of-type(11) {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
}
.circle-container > :nth-of-type(12) {
  transform: rotate(198deg) translate(10em) rotate(-198deg);
}
.circle-container > :nth-of-type(13) {
  transform: rotate(216deg) translate(10em) rotate(-216deg);
}
.circle-container > :nth-of-type(14) {
  transform: rotate(234deg) translate(10em) rotate(-234deg);
}
.circle-container > :nth-of-type(15) {
  transform: rotate(252deg) translate(10em) rotate(-252deg);
}
.circle-container > :nth-of-type(16) {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}
.circle-container > :nth-of-type(17) {
  transform: rotate(288deg) translate(10em) rotate(-288deg);
}
.circle-container > :nth-of-type(18) {
  transform: rotate(306deg) translate(10em) rotate(-306deg);
}
.circle-container > :nth-of-type(19) {
  transform: rotate(324deg) translate(10em) rotate(-324deg);
}
.circle-container > :nth-of-type(20) {
  transform: rotate(342deg) translate(10em) rotate(-342deg);
}
.circle-container img {
  display: inline-block;
  width: 100%;
  height: 48px;
  border-radius: 50%;
  margin: 0; 
}

.tech{
  margin: 0;
  padding: 0;
}

.tech span{
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 35%;
  text-align: center;
  font-size: 70%; 
}

.tech:hover > span{
  display: block;
  border: none;
  color: white;
  text-shadow: 1px 1px black;
}

.tech:hover > img {
  background-color: rgba(0, 0, 0, .7);
  filter: opacity(0.3);
}

.tech:hover {
  border: none;
}

.avatar img{
  filter: grayscale(0);
  width: 10em;
  height: 10em;
  transform: translatex(-3.5em) translateY(-4em);
  z-index: -1;
}

/*----------------------------MOCKUP-------------------------------*/

.css-mb {
  max-width: 75%; /* Set the desired maximum width of the macbook */
  min-width: 60%; /* Set the desired minimum width of the macbook */
  margin: 50px auto 0; /* Align mockup to center */
}

.css-mb div {
  box-sizing: border-box !important; /* Just in case */
}

/* Center the display */
.css-mb .mb-display-position {
  width: 80%;
  margin: 0 auto;
}

/* The display */
.css-mb .mb-display {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65.9442%;
  background: #373435;
  
  -webkit-border-top-left-radius:  3.5% 5.3075%;
      -moz-border-radius-topleft:  3.5% 5.3075%;
          border-top-left-radius:  3.5% 5.3075%;
  
  -webkit-border-top-right-radius: 3.5% 5.3075%;
      -moz-border-radius-toptight: 3.5% 5.3075%;
          border-top-right-radius: 3.5% 5.3075%;
}

/* Webcam */
/* Browser may not render a perfect circle */
.css-mb .mb-display:before {
  content: '';
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  width: 1%;
  height: 1.5164%;
  margin-left: -0.5%;
  border-radius: 50%;
  background: #525252;
}

/* Glare */
/* Browser may not render the top and right offset evenly */
.css-mb .mb-display:after {
  content: '';
  display: none;
  position: absolute;
  right: 0.4%;
  top: 0.64%; 
  width: 62.5%;
  height: 100%;
  
  background: none; /* Hide the gradient on older browsers */
  background:    -moz-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* FF3.6+ */
  background: -webkit-linear-gradient(36deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Chrome10+ and Safari5.1+ compute the degree differently */
  background:      -o-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Opera 11.10+ */
  background:     -ms-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* IE10+ */
  background:         linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%);
  
  -webkit-border-top-right-radius: 5.3075%;
      -moz-border-radius-toptight: 5.3075%;
          border-top-right-radius: 5.3075%;
}

/* Only show glare, if the class is applied */
.css-mb.with-glare .mb-display:after { display: block; }

/* Position the screen and give make it the right size, ratio 16:10 */
.css-mb .mb-screen-position {
  position: absolute;
  top: 6.5%;
  width: 93.2%;
  left: 3.4%;
  height: 0;
  margin: 0;
  padding-bottom: 58.25%; /* Ratio */
}

/* Give parent (this element) a "height", so that child elements can use height: 100%;*/
.css-mb .mb-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #4b4b4d; /* bg color if content is not big enough, or rendering is off */
}

/* Image on the screen */
.css-mb .mb-screen img {
  max-width: 100%;
  height: auto;
}

/* Iframe on the screen */
.css-mb .mb-screen iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Macbook body */
.css-mb .mb-body {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 2.3%;
  background: #e6e7e8;
}

/* The groove */
.css-mb .mb-body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 14.0740%;
  height: 0;
  padding-bottom: 1.4814%;
  margin-left: -7.037%;
  background: #a9abae;
  
  -webkit-border-bottom-left-radius:  7.0370% 50%;
      -moz-border-radius-bottomleft:  7.0370% 50%;
          border-bottom-left-radius:  7.0370% 50%;
  
  -webkit-border-bottom-right-radius: 7.0370% 50%;
      -moz-border-radius-bottomtight: 7.0370% 50%;
          border-bottom-right-radius: 7.0370% 50%;  
}

/* Macbook bottom */
.css-mb .mb-bottom-cover {
  width: 100%;
  height: 0;
  padding-bottom: 0.7407%;
  background: #a9abae;
  
  -webkit-border-bottom-left-radius:  12% 600%;
      -moz-border-radius-bottomleft:  12% 600%;
          border-bottom-left-radius:  12% 600%;
  
  -webkit-border-bottom-right-radius: 12% 600%;
      -moz-border-radius-bottomtight: 12% 600%;
          border-bottom-right-radius: 12% 600%; 
}

/*-----------------------------IPHONE------------------------------*/

/*----------*\
   #LAYOUT
\*----------*/



.temp-wrapper {
  margin: 20px;
  height: 400px;
}

@media all and (min-width: 480px) {
  .temp-wrapper {
    width: 50%;
    margin: 20px auto;
  }

  .temp-wrapper--wide {
    width: 100%;
  }

  .temp-wrapper--wider {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .temp-wrapper {
    width: 33.33337%;
  }

  .temp-wrapper--wide {
    width: 66.66667%;
  }

  .temp-wrapper--wider {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .temp-wrapper {
    width: 25%;
  }

  .temp-wrapper--wide {
    width: 50%;
  }

  .temp-wrapper--wider {
    width: 75%;
  }
}





/*------------*\
   #IPHONE X
\*------------*/



.px {
  position: relative;
  padding: 6% 7%;
}

.px--ls {
  padding: 3.3% 3%;
}

.px__body {
  position: absolute;
  top:    0;
  right:  1%;
  bottom: 0;
  left:   1%;
  background: linear-gradient(to top, #e5e5e5 0%, #f7f7f9 10%, #eeeef0 90%);
  border-radius: 14%/7%;
  box-shadow: inset 0 0 3px 1px #000
}

.px--ls > .px__body {
  top:    1%;
  right:  0;
  bottom: 1%;
  left:   0;
  border-radius: 7%/14%;
}

.px__body:before {
  content: '';
  position: absolute;
  top:     .7%;
  right:  1.4%;
  bottom:  .7%;
  left:   1.4%;
  background-color: #000;
  border-radius: 13%/7%;
  box-shadow: 0 0 3px #000
}

.px--ls > .px__body:before {
  top:    1.4%;
  right:   .7%;
  bottom: 1.4%;
  left:    .7%;
  border-radius: 7%/13%;
}

.px__body:after {
  content: '';
  position: absolute;
  top:    1%;
  right:  2.3%;
  bottom: 1%;
  left:   2.3%;
  background-color: #000;
  box-shadow: inset 0 0 10px 2px #fff;
  border-radius: 13%/6.5%;
}

.px--ls > .px__body:after {
  top:    2.3%;
  right:  1%;
  bottom: 2.3%;
  left:   1%;
  border-radius: 6.5%/13%;
}

.px__body__cut {
  position: absolute;
  z-index: 2;
  top:   3%;
  left: 50%;
  width: 50%;
  height: 3.5%;
  background-color: #000;
  border-radius: 0 0 10% 10%/80%;
  transform: translate3d(-50%,0,0);
}

.px--ls .px__body__cut {
  top: 50%;
  left: 3%;
  width: 3.5%;
  height:  50%;
  border-radius: 0 80% 80% 0/10%;
  transform: translate3d(0,-50%,0);
}

.px__body__speaker, .px__body__camera, .px__body__sensor {
  position: absolute;
  z-index: 2;
  background-color: #222;
  transform: translate(-50%,-50%);
}

.px__body__speaker {
  top:  4%;
  left: 50%;
  width: 12%;
  height:  .8%;
  border-radius: 5px;
}

.px--ls .px__body__speaker {
  top:  50%;
  left: 4%;
  width:    .8%;
  height: 12%;
}

.px__body__camera {
  top:   4%;
  left: 36%;
  width:  3.5%;
  height: 1.7%;
  border-radius: 50%;
  box-shadow: inset 0 0 2px 1px #000;
}

.px--ls .px__body__camera {
  top:  64%;
  left:  4%;
  width:  1.7%;
  height: 3.5%;
}

.px__body__sensor {
  top:   4%;
  left: 61%;
  width:  2.2%;
  height: 1.1%;
  border-radius: 50%;
  background-color: #2a4a73;
  box-shadow: inset 0 0 2px 1px #000;
}

.px--ls .px__body__sensor {
  top:  39%;
  left:  4%;
  width:  1.1%;
  height: 2.2%;
}

.px__body__mute, .px__body__up, .px__body__down, .px__body__right {
  position: absolute;
  background-color: #b5b8ba;
  box-shadow: inset 0 5px 5px -3px rgba(0,0,0,.5), inset 0 -5px 5px -3px rgba(0,0,0,.5);
  transform: translate(0,-50%);
}

.px--ls .px__body__mute, .px--ls .px__body__up, .px--ls .px__body__down, .px--ls .px__body__right {
  box-shadow: inset 5px 0 5px -3px rgba(0,0,0,.5), inset -5px 0 5px -3px rgba(0,0,0,.5);
  transform: translate(-50%,0);
}

.px--ls .px__body__right {
  background-color: #f4f6f6;
}

.px__body__mute {
  top: 14.7%;
  left: -.7%;
  width: .7%;
  height: 4%;
  border-radius: 1px 0 0 1px;
}

.px--ls .px__body__mute {
  top: auto;
  left:  14.7%;
  bottom: -.7%;
  width: 4%;
  height: .7%;
  border-radius: 0 0 1px 1px;
}

.px__body__up, .px__body__down {
  left: -1%;
  width:  1%;
  height: 7.5%;
  border-radius: 2px 0 0 2px;
}

.px--ls .px__body__up, .px--ls .px__body__down {
  bottom: -1%;
  width:  7.5%;
  height: 1%;
  border-radius: 0 0 2px 2px;
}

.px__body__up {
  top: 25%;
}

.px--ls .px__body__up {
  top: auto;
  left: 25%;
}

.px__body__down {
  top: 34%;
}

.px--ls .px__body__down {
  top: auto;
  left: 34%;
}

.px__body__right {
  top:   25%;
  right: -1%;
  width:  1%;
  height: 7.5%;
  border-radius: 0 2px 2px 0;
}

.px--ls .px__body__right {
  top:  -1%;
  right: auto;
  left: 25%;
  width:  7.5%;
  height: 1%;
  border-radius: 2px 2px 0 0;
}

.px__screen {
  position: relative;
  z-index: 1;
}

.px__screen__ {
  position: relative;
  padding-bottom: 218%;
  background-color: #888;
  border-radius: 10%/5%;
  box-shadow: 0 0 10px #000;
}

.px--ls .px__screen__ {
  padding-bottom: 46%;
  border-radius: 5%/10%;
}

.px__screen__frame {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  overflow: hidden;
  border-radius: inherit;
  background-size: cover;
  background-position: center center
}

  .px__screen__frame > .fa {
    position: absolute;
    top:  50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%,-50%);
  }


#smartphone {
  float: right;
  margin-right: 10px;
  margin-top: 10%;
  transform: scale(0.75);
}

#notebook {
  float: left;
  margin-left: 10px;
  margin-top: 15%;
}